<config>
	<int>
		<MAX_MSG_LEN>4096</MAX_MSG_LEN>
		<server_port>30000</server_port>
		<MAX_CONNECTION>1000</MAX_CONNECTION>
	</int>
	<bool>
		<keep_alive>false</keep_alive>
	</bool>
	<string>
		<server_ip>127.0.0.1</server_ip>
		<protocol_id>FFAAAAFF</protocol_id>
	</string>
	<double>
		<timeout>10.0</timeout>
	</double>
</config>